<div class="flex" [formGroup]="searchFields">
  <div style="border: solid" >
    <div class="searchDiv">
      <h2>{{title}}</h2>
    </div>

    <div class="buttonDiv">
      <button class="searchButtonStyle" (click)="search()">SEARCH</button>
      <button class="resetButtonStyle" (click)="reset()">RESET</button>
    </div>

    <div class="countryListStyle">
      <div style="margin-left: 20px">
        <p>Country</p>
        <select class="inputStyle" formControlName="countryOption">
          <option [value]="'Select One'">--Select One--</option>
          <option *ngFor="let currentCountry of countryService.countries$ | async"
                  [value]="currentCountry.CountryId">{{currentCountry.name["3"]}}</option>
        </select>
      </div>
    </div>

    <div class="keywordStyle">
      <div style="margin-left: 20px">
        <p>Keyword</p>
        <input class="inputStyle" formControlName="keywordOption">
        <br><br>
        <input type="checkbox" formControlName="CodeOfTheIntervention">Code of the
        intervention
        <br>
        <input type="checkbox" formControlName="TitleOfTheIntervention">Title of the
        intervention
        <br>
        <input type="checkbox" formControlName="InterventionShortName">Intervention short
        name
        <br>
        <input type="checkbox" formControlName="InterventionDescription">Intervention
        description
      </div>
    </div>

    <div class="actualDateStyle">
      <div style="margin-left: 20px">
        <h3>Actual Start Date</h3>
        <p>From</p>
        <input class="inputStyle" type="date" formControlName="dateFrom">
        <p>To</p>
        <input class="inputStyle" type="date" formControlName="dateTo">
      </div>
    </div>
  </div>
</div>
