<div>
  <div class="flex">
    <form [formGroup]="newInterventionForm">
      Code of the Intervention<br>
      <input type="text" formControlName="InterventionCode">
      <div *ngIf="newInterventionForm.get('InterventionCode').hasError('required') &&
      newInterventionForm.get('InterventionCode').touched"
           style="color: red">
        Intervention Code is required field
      </div>
      <br><br>
      Short Name<br>
      <input type="text" formControlName="ShortName">
      <div *ngIf="newInterventionForm.get('ShortName').hasError('required') &&
      newInterventionForm.get('ShortName').touched"
           style="color: red">
        Short Name is required field
      </div>
      <br><br>
      Official Intervention Name<br>
      <input type="text" formControlName="CommericalName">
      <div *ngIf="newInterventionForm.get('CommericalName').hasError('required') &&
      newInterventionForm.get('CommericalName').touched"
           style="color: red">
        Official Intervention Name is required field
      </div>
      <br><br>
      Country<br>
      <select formControlName="Country">
        <option *ngFor="let currentCountry of countryService.countries"
                [value]="currentCountry.countryId">{{currentCountry.name["3"]}}</option>
      </select>
      <div *ngIf="newInterventionForm.get('Country').hasError('required') &&
      newInterventionForm.get('Country').touched"
           style="color: red">
        Country is required field
      </div>
      <br><br>
      Status<br>
      <select formControlName="Status">
        <option *ngFor="let currentWorkflow of workflowService.workflowStates"
                [value]="currentWorkflow.WFSTATEID">{{currentWorkflow.name["3"]}}</option>
      </select>
      <div *ngIf="newInterventionForm.get('Status').hasError('required') &&
      newInterventionForm.get('Status').touched"
           style="color: red">
        Status is required field
      </div>
      <br><br>
      Last Updated By<br>
      <select formControlName="User">
        <option *ngFor="let currentUser of userService.users"
                [value]="currentUser.UserID">{{currentUser.name["3"]}}</option>
      </select>
      <div *ngIf="newInterventionForm.get('User').hasError('required') &&
      newInterventionForm.get('User').touched"
           style="color: red">
        Last Updated user is required field
      </div>
      <br><br>
      Last Updated On<br>
      <input type="date" formControlName="LastUpdatedOn">
      <div *ngIf="newInterventionForm.get('LastUpdatedOn').hasError('required') &&
      newInterventionForm.get('LastUpdatedOn').touched"
           style="color: red">
        Last Updated On is required field
      </div>
    </form>
  </div>
  <button class="submitButtonStyle"
          (click)="printNewInterventionJSON()">Submit
  </button>
  <button class="cancelButtonStyle" (click)="goToPortfolio()">Cancel</button>


  <div *ngIf="isSubmitButtonPressed">
    <br>
    {{printNewInterventionJSON()}}
    <br>
    <button class="backToPortfolioButton" (click)="goToPortfolio()">Go back to portfolio</button>
  </div>

</div>


