.statusStyle {
  margin-left: 50px;
}

.searchButtonStyle {
  width: 300px;
  height: 30px;
  background-color: limegreen;
  margin-left: 500px;
  margin-bottom: 10px;
}

.submitButtonStyle {
  width: 100px;
  height: 30px;
  background-color: limegreen;
  margin-left: 30px;
  margin-top: 10px;
}

.cancelButtonStyle {
  width: 100px;
  height: 30px;
  background-color: red;
  margin-left: 30px;
  margin-top: 10px;
}

.flex {
  margin-top: 20px;
  display: flex;
}

.isPressed {
  background-color: red;
}

.pagingButtonStyle {
  width: 30px;
  height: 30px;
  /*background-color: green;*/
  margin-left: 10px;
}

.backToPortfolioButton {
  width: 150px;
  height: 30px;
  background-color: limegreen;
  margin-left: 30px;
  margin-top: 10px;
}
